extends ./../layout

block content
	include ./../navbar.pug
	div.container#catalogo-container
		h2.titulo-pg Itens Comprados Recentemente
		-for(var i=0; i<dados.length; i++){
			-if(dados[i].comprado == true){
				include livros.pug
			-}
		-}
		h2#msg