extends ./../layout

block content
	-var categorias = true;
	include ./../navbar.pug
	div.container
		h2.titulo-pg Catálogo de Produtos
		-for(var i=0; i<dados.length; i++){
			include livros.pug
		-}
