extends ./../layout

block content
	include ./../navbar.pug
	div.container
		-for(var i=0; i<dados.length; i++){
			-function string(valor){
				-return valor.toFixed(2).toString().replace(".", ",");
			-}
			div.col-md-4
				div.col-md-12.box-info
					div.col-md-12.box-catalogo
						a(data-id=""+dados[i].isbn+"").box-book
							div(style="background-image: url(../images/livros/"+dados[i].capa+".jpg)").img-catalogo
							div.titulo-catalogo= dados[i].titulo

			// div.col-xs-6.col-md-4.col-sm-6
			// 		img(src="../images/livros/"+dados[i].capa+".jpg")
			// 		p= dados[i].titulo
			// 		p= dados[i].autor
			// 		h3= dados[i].preço
		-}

		//- div.col-md-4
		//- 	div.col-md-12.box
		//- 		div.fotos-paises
		//- 		div.titulo bla
		//- div.col-md-4
		//- 	div.col-md-12.box
		//- 		div.fotos-paises
		//- 		div.titulo blalabllabla babla