form.navbar-form.navbar-right
	div.form-group
		select.selectpicker.form-control#select
			option(value="all") Todas Categorias
			option(value="Poesia") Poesia
			option(value="Romance") Romance
			option(value="Policial") Policial
			option(value="Coleção") Coleção