nav.navig-filter
		form.navbar-form.navbar-left
			div.form-group
				select.selectpicker.form-control#select-categ
					option(value="all") Todas Categorias
			div.form-group
				select.selectpicker.form-control#select-autor
					option(value="all") Todos Autores
			div.form-group
				select.selectpicker.form-control#select-editora
					option(value="all") Todas Editoras