div.pg-title
	img(src="../images/logo.jpg")#pg-title
nav.navig
	div.navbar-header
		button(type="button", data-toggle="collapse",data-target="#colaspse-content", aria-expanded="false").navbar-toggle.collapsed
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div.collapse.navbar-collapse#colaspse-content
		div.navbar-content
				ul.nav.navbar-nav
					li
						a(href="/") Página Inicial
					li
						a(href="/catalogo") Catálogo
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/catalogo/desejo")
							span.glyphicon.glyphicon-heart
					li
						a(href="/carrinho")
							span.glyphicon.glyphicon-shopping-cart
					li
						a#open-search
							span.glyphicon.glyphicon-search

include search.pug
include carrinho.pug