div.titulo-pg
	img(src="../images/logo.jpg")#imagem
nav.navig
	div.navbar-header
		button(type="button", data-toggle="collapse",data-target="#colaspse-content", aria-expanded="false").navbar-toggle.collapsed
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div.collapse.navbar-collapse#colaspse-content
		div.navbar-content
				ul.nav.navbar-nav
					li
						a(href="/") Página Inicial
					li
						a(href="/catalogo") Catálogo
				ul.nav.navbar-nav.navbar-right
					li
						a#carrinho
							span.glyphicon.glyphicon-shopping-cart
					li
						a#search
							span.glyphicon.glyphicon-search

include search.pug
include carrinho.pug