nav.navig
	div.navbar-header
		button(type="button", data-toggle="collapse",data-target="#colaspse-content", aria-expanded="false").navbar-toggle.collapsed
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div.collapse.navbar-collapse#colaspse-content
		div.navbar-content
				ul.nav.navbar-nav
					li
						a(href="/") Página Inicial
					li
						a(href="/catalogo") Catálogo
					li
						a(href="/catalogo/comprados") Meus itens
					li#logoNav
						img(src="../../images/logo-white.png", height="50px")#img-logo
				ul.nav.navbar-nav.navbar-right
					li.icon
						a(href="/catalogo/desejo")
							span.glyphicon.glyphicon-heart.heart-navbar
							span.badge.badge-nav#numberWish 0
					li.icon
						a#cartBox
							span.glyphicon.glyphicon-shopping-cart
							span.badge.badge-nav#numberCart 0
					li.icon
						a#notifBox
							span.glyphicon.glyphicon-bell
							span.badge.badge-nav#numberBell 0
					li
						a#open-search
							span.glyphicon.glyphicon-search
					-if(!carrinho){
						include carrinho.pug
					-}
					include notifica.pug
-if(categorias==true){				
	div.filter-icon(data-toggle="tooltip", data-placement="right", title="Filtrar produtos")
		span.fa.fa-angle-double-right.fa-2x(aria-hidden="true")
	include filtro.pug
-}

include search.pug
