div.titulo-pg Bookstore
nav.navig
	div.navbar-content
			ul.nav.navbar-nav
				li
					a(href="#").active Home
				li
					a(href="#") About
				li
					a(href="#") Contact
			ul.nav.navbar-nav.navbar-right
				li 
					div.bookmark

	div.search
		a#search
			span.glyphicon.glyphicon-search

include search.pug