div.search-box
	a#close-search
		span.glyphicon.glyphicon-remove
	div.search-section
		form(role="form")
			input(type="input",placeholder="Busca").search-input#searchInput
			h4 Pesquisa feita por: categoria, autor, título ou editora.
		div#searchResult