div.search-box
	div.search-container
		div.col-md-6
			a#close-search
				span.glyphicon.glyphicon-remove
			div.search-section.col-md-12
				form(role="form")
					input(type="input",placeholder="Busca").search-input#searchInput
					h4 Pesquisa feita por: categoria, autor, título ou editora.
			div#searchResult.col-md-12
		div.list-result.col-md-6