extends layout

block content
	div.container
		h3 Dados dos usuários
		ul
			- for (var i=0; i<dadosTam; i++)
				li !{dados[i].nome} : !{dados[i].idade} anos - !{dados[i].cidade}
		form
			h2 Adicionar usuários
			div.form-group
				label(for="nome") Nome
				input.form-control(id="nome", type="text")
