@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Barrio|Baumans|Cinzel+Decorative:400,700,900|Dancing+Script:400,700|Fredericka+the+Great|Lobster+Two:400,400i,700,700i|Megrim|Oleo+Script+Swash+Caps|Parisienne|Rochester|Sacramento|Sue+Ellen+Francisco|Tangerine:400,700');
html,
body {
  overflow-x: hidden;
}
body {
  display: none;
  padding-top: 170px;
}
.valor-fixo {
  text-decoration: line-through;
}
.thumbnail {
  height: auto;
  text-align: center;
  color: black;
}
.thumbnail:hover {
  text-decoration: none;
}
.catalogo {
  border: 3px solid black;
}
.catalogo-content,
.catalogo-content > h2 {
  margin: 1%;
}
.container {
  width: 85%;
}
/*cor dos links ativos*/
.navbar-content .navbar-nav .active {
  border-bottom: 3px solid white;
}
.navbar-content,
.search,
#close-search,
.search-section {
  position: absolute;
}
.titulo-pg,
.search-box,
.navig {
  position: fixed;
}
.navbar-content {
  top: 15%;
  left: 2%;
}
.navbar-content .navbar-nav a {
  padding: 2px;
  padding-bottom: 5px;
  margin: 13px;
  margin-bottom: 0px;
}
.navbar-content .navbar-nav a:hover {
  background-color: transparent;
  border-bottom: 1px solid white;
}
.navbar-content .navbar-nav a,
.navbar-content .navbar-nav {
  font-family: 'Baloo Bhaina', cursive;
  color: white;
  font-size: 18px;
  border-bottom: 1px solid transparent;
}
.titulo-pg {
  z-index: 1023;
  top: 0;
  right: 5%;
  left: 5%;
  height: 70px;
  text-align: center;
  font-size: 60px;
  font-family: 'Barrio', cursive;
}
.search {
  right: 2%;
  top: 25%;
  background-color: transparent;
  text-align: right;
  font-size: 24px;
}
.search a {
  color: white;
  border: 1px solid transparent;
}
.search a:hover {
  color: pink;
  cursor: pointer;
}
.search-box {
  z-index: 1024;
  height: 100%;
  width: 0;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
}
.navig {
  top: 90px;
  right: 5%;
  left: 5%;
  height: 60px;
  background: #C12127;
  border-radius: 50px;
}
.navig-top {
  z-index: 1022;
  top: 0;
  height: 70px;
}
#close-search {
  color: #e6e6e6;
  top: 8%;
  left: 8%;
  font-size: 24px;
  cursor: pointer;
}
#close-search:hover {
  color: #c71f27;
}
.search-section {
  top: 28%;
  left: 8%;
  width: 50%;
}
.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #e6e6e6;
  outline: none;
  font-size: 38px;
  width: 100%;
  color: #c71f27;
}
.search-section h4 {
  color: #e6e6e6;
}
.bookmark {
  display: none;
  background: #b00;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b00), color-stop(100%, #900));
  background-image: -webkit-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -moz-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -o-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -ms-linear-gradient(top, #b00 0%, #b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00', endColorstr='#900', GradientType=0);
  background-image: linear-gradient(top, #b00 0%, #900 100%);
  height: 500px;
  position: fixed;
  top: 0;
  right: 3%;
  width: 100px;
}
.bookmark:after {
  content: '';
  display: block;
  border: 50px solid transparent;
  border-bottom-color: #000;
  position: absolute;
  bottom: 0;
}
.bookmark-display,
.bookmark,
.bookmark:after,
.navig-top,
.navig,
.titulo-pg-none,
.titulo-pg {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
