@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Barrio|Baumans|Cinzel+Decorative:400,700,900|Dancing+Script:400,700|Fredericka+the+Great|Lobster+Two:400,400i,700,700i|Megrim|Oleo+Script+Swash+Caps|Parisienne|Rochester|Sacramento|Sue+Ellen+Francisco|Tangerine:400,700');
#livros .livrosCor-38 {
  background-color: #ffffff;
}
#livros .livrosCor-38 > a {
  color: black;
}
#livros .livrosCor-37 {
  background-color: #ffffff;
}
#livros .livrosCor-37 > a {
  color: black;
}
#livros .livrosCor-36 {
  background-color: #ffffff;
}
#livros .livrosCor-36 > a {
  color: black;
}
#livros .livrosCor-35 {
  background-color: #ffffff;
}
#livros .livrosCor-35 > a {
  color: black;
}
#livros .livrosCor-34 {
  background-color: #ffffff;
}
#livros .livrosCor-34 > a {
  color: black;
}
#livros .livrosCor-33 {
  background-color: #ffffff;
}
#livros .livrosCor-33 > a {
  color: black;
}
#livros .livrosCor-32 {
  background-color: #ffffff;
}
#livros .livrosCor-32 > a {
  color: black;
}
#livros .livrosCor-31 {
  background-color: #ffffff;
}
#livros .livrosCor-31 > a {
  color: black;
}
#livros .livrosCor-30 {
  background-color: #ffffff;
}
#livros .livrosCor-30 > a {
  color: black;
}
#livros .livrosCor-29 {
  background-color: #ffffff;
}
#livros .livrosCor-29 > a {
  color: black;
}
#livros .livrosCor-28 {
  background-color: #ffffff;
}
#livros .livrosCor-28 > a {
  color: black;
}
#livros .livrosCor-27 {
  background-color: #ffffff;
}
#livros .livrosCor-27 > a {
  color: black;
}
#livros .livrosCor-26 {
  background-color: #ffffff;
}
#livros .livrosCor-26 > a {
  color: black;
}
#livros .livrosCor-25 {
  background-color: #ffffff;
}
#livros .livrosCor-25 > a {
  color: black;
}
#livros .livrosCor-24 {
  background-color: #ffffff;
}
#livros .livrosCor-24 > a {
  color: black;
}
#livros .livrosCor-23 {
  background-color: #ffffff;
}
#livros .livrosCor-23 > a {
  color: black;
}
#livros .livrosCor-22 {
  background-color: #ffffff;
}
#livros .livrosCor-22 > a {
  color: black;
}
#livros .livrosCor-21 {
  background-color: #fbfcfd;
}
#livros .livrosCor-21 > a {
  color: black;
}
#livros .livrosCor-20 {
  background-color: #f4f7fa;
}
#livros .livrosCor-20 > a {
  color: black;
}
#livros .livrosCor-19 {
  background-color: #ecf2f7;
}
#livros .livrosCor-19 > a {
  color: black;
}
#livros .livrosCor-18 {
  background-color: #e5ecf4;
}
#livros .livrosCor-18 > a {
  color: black;
}
#livros .livrosCor-17 {
  background-color: #dee7f1;
}
#livros .livrosCor-17 > a {
  color: black;
}
#livros .livrosCor-16 {
  background-color: #d7e2ee;
}
#livros .livrosCor-16 > a {
  color: black;
}
#livros .livrosCor-15 {
  background-color: #cfddec;
}
#livros .livrosCor-15 > a {
  color: black;
}
#livros .livrosCor-14 {
  background-color: #c8d8e9;
}
#livros .livrosCor-14 > a {
  color: black;
}
#livros .livrosCor-13 {
  background-color: #c1d3e6;
}
#livros .livrosCor-13 > a {
  color: black;
}
#livros .livrosCor-12 {
  background-color: #bacde3;
}
#livros .livrosCor-12 > a {
  color: black;
}
#livros .livrosCor-11 {
  background-color: #b3c8e0;
}
#livros .livrosCor-11 > a {
  color: black;
}
#livros .livrosCor-10 {
  background-color: #abc3dd;
}
#livros .livrosCor-10 > a {
  color: black;
}
#livros .livrosCor-9 {
  background-color: #a4beda;
}
#livros .livrosCor-9 > a {
  color: black;
}
#livros .livrosCor-8 {
  background-color: #9db9d7;
}
#livros .livrosCor-8 > a {
  color: black;
}
#livros .livrosCor-7 {
  background-color: #96b3d4;
}
#livros .livrosCor-7 > a {
  color: black;
}
#livros .livrosCor-6 {
  background-color: #8eaed1;
}
#livros .livrosCor-6 > a {
  color: black;
}
#livros .livrosCor-5 {
  background-color: #87a9ce;
}
#livros .livrosCor-5 > a {
  color: black;
}
#livros .livrosCor-4 {
  background-color: #80a4cb;
}
#livros .livrosCor-4 > a {
  color: black;
}
#livros .livrosCor-3 {
  background-color: #799fc8;
}
#livros .livrosCor-3 > a {
  color: black;
}
#livros .livrosCor-2 {
  background-color: #7199c5;
}
#livros .livrosCor-2 > a {
  color: black;
}
#livros .livrosCor-1 {
  background-color: #6a94c2;
}
#livros .livrosCor-1 > a {
  color: black;
}
#livros .livrosCor-0 {
  background-color: #638fbf;
}
#livros .livrosCor-0 > a {
  color: black;
}
.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  display: none;
  padding-top: 170px;
}
.background-image {
  background-image: url("../images/books4.jpg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.valor-fixo {
  text-decoration: line-through;
}
.thumbnail {
  height: auto;
  text-align: center;
  color: black;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.35);
}
.thumbnail > p {
  margin: 0 0 0 0;
}
.thumbnail:hover {
  text-decoration: none;
  border: none;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
#imagem {
  display: none;
}
.catalogo {
  border: 3px solid black;
}
.catalogo-content,
.catalogo-content > h2 {
  margin: 1%;
}
.container {
  width: 85%;
}
/*cor dos links ativos*/
.navbar-content .navbar-nav .active {
  border-bottom: 3px solid white;
}
.titulo-pg {
  position: fixed;
  top: 0;
  width: 24%;
  margin-left: 38%;
  height: 85px;
}
.titulo-pg img {
  position: inherit;
  height: inherit;
}
.navbar-content,
.search,
#close-search,
.search-section {
  position: absolute;
}
.titulo-pg,
.search-box,
.navig {
  position: fixed;
}
.navbar-content {
  top: 10%;
  left: 2%;
  width: 95%;
}
.navbar-content .navbar-nav a {
  padding: 2px;
  padding-bottom: 5px;
  margin: 13px;
  margin-bottom: 0px;
}
.navbar-content .navbar-nav a:hover {
  background-color: transparent;
  border-bottom: 1px solid white;
}
.navbar-content .navbar-nav a,
.navbar-content .navbar-nav {
  font-family: 'Baloo Bhaina', cursive;
  color: white;
  font-size: 18px;
  border-bottom: 1px solid transparent;
}
.nav > .glyphicon {
  font-size: 15px;
}
#search,
#carrinho {
  color: white;
  border: none;
}
#search:hover,
#carrinho:hover {
  color: pink;
  cursor: pointer;
}
.search-box {
  z-index: 1023;
  height: 100%;
  width: 0;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
}
.carrinho-box {
  position: fixed;
  z-index: 1024;
  height: 0;
  width: 50%;
  background-color: #000;
  top: 150px;
  right: 10%;
}
.carrinho-top {
  top: 70px;
}
.navig {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
  top: 90px;
  right: 5%;
  left: 5%;
  height: 60px;
  background: #C12127;
  border-radius: 10px;
}
.navig-top {
  z-index: 1022;
  top: 0;
  height: 70px;
}
#close-search {
  color: #e6e6e6;
  top: 8%;
  font-size: 24px;
  cursor: pointer;
}
#close-search:hover {
  color: #c71f27;
}
.search-container {
  margin-left: 4%;
}
.search-section {
  position: initial;
  padding: initial;
  width: 90%;
  margin-top: 20%;
}
.list-result {
  overflow-y: auto;
  max-height: 100%;
  position: absolute;
  right: 0;
  vertical-align: 50%;
}
.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #e6e6e6;
  outline: none;
  font-size: 38px;
  width: 100%;
  color: #c71f27;
}
.search-section h4 {
  color: #e6e6e6;
}
.bookmark {
  display: none;
  background: #b00;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b00), color-stop(100%, #900));
  background-image: -webkit-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -moz-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -o-linear-gradient(top, #b00 0%, #900 100%);
  background-image: -ms-linear-gradient(top, #b00 0%, #b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00', endColorstr='#900', GradientType=0);
  background-image: linear-gradient(top, #b00 0%, #900 100%);
  height: 500px;
  position: fixed;
  top: 0;
  right: 3%;
  width: 100px;
}
.bookmark:after {
  content: '';
  display: block;
  border: 50px solid transparent;
  border-bottom-color: #000;
  position: absolute;
  bottom: 0;
}
.bookmark-display,
.bookmark,
.bookmark:after,
.navig-top,
.navig,
.titulo-pg,
.carrinho-top,
.carrinho-box {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
